# -*- coding: utf-8 -*-
# $Id$

contest_time = 0
score_system = acm
board_fog_time = 0
board_unfog_time = 0
standings_locale = "ru"

compile_dir = "/home/judges/compile/var/compile"

team_enable_src_view
team_enable_rep_view
team_enable_ce_view
disable_team_clars
ignore_compile_errors
show_judge_identity
problem_navigation


compile_max_vm_size = 768M
compile_max_file_size = 32M

standings_file_name = "031001.html"
stand_symlink_dir = "ejudge/standings"
external_xml_update_time = 60

stand_fancy_style
stand_table_attr = " border=1 cellspacing=1 celpadding=3"
stand_place_attr = " align=\"right\""
stand_team_attr = " align=\"left\""
stand_prob_attr = " align=\"center\""
stand_solved_attr = " align=\"center\""
stand_penalty_attr = " align=\"right\""
stand_fail_attr = " align=center bgcolor=\"#ff8888\""
stand_trans_attr = " align=center bgcolor=\"#ffff88\""
stand_disq_attr = " align=center bgcolor=\"#ffaaaa\""

use_ac_not_ok
rounding_mode = floor
cr_serialization_key = 22723
show_astr_time
secure_run
enable_memory_limit_error
advanced_layout
ignore_bom
time_limit_retry_count = 2
enable_l10n
team_download_time = 0
cpu_bogomips = 3330
clardb_plugin = "mysql"
rundb_plugin = "mysql"

test_sfx = ".dat"
corr_sfx = ".ans"

[language]
id = 1
short_name = "fpc"
long_name = "Free Pascal 3.0.2"
src_sfx = ".pas"

[language]
id = 8
short_name = "dcc"
long_name = "Borland Delphi 6 (Kylix) 14.5"
src_sfx = ".pas"

[language]
id = 13
short_name = "python"
long_name = "Python 2.7.11"
arch = "linux-shared"
src_sfx = ".py"

[language]
id = 18
short_name = "javac"
long_name = "Java JDK 1.8.0_71"
arch = "java"
src_sfx = ".java"
exe_sfx = ".jar"

[language]
id = 19
short_name = "mcs"
long_name = "Mono C# 4.6.2.0"
arch = "msil"
src_sfx = ".cs"
exe_sfx = ".exe"
disable_security

[language]
id = 23
short_name = "python3"
long_name = "Python3 3.5.1"
arch = "linux-shared"
src_sfx = ".py"
style_checker_cmd = "/home/ejudge/bin/stylecheck_python"

[language]
id = 55
short_name = "pasabc-linux"
long_name = "Pascal ABC.NET (Mono) v3.2.0.1488"
arch = "msil"
src_sfx = ".pas"
exe_sfx = ".exe"
disable_security

[language]
id = 58
short_name = "g++-32"
long_name = "GNU C++ (32 bit) 5.3.1"
arch = "linux-shared-32"
src_sfx = ".cpp"
style_checker_cmd = "/home/ejudge/bin/stylecheck_cpp"

[language]
id = 62
short_name = "clang++-32"
long_name = "clang C++ (32 bit) 3.7.0"
arch = "linux-shared-32"
src_sfx = ".cpp"
style_checker_cmd = "/home/ejudge/bin/stylecheck_cpp"

[language]
id = 64
short_name = "pypy3"
long_name = "Python3 (PyPy) 3.3.5"
arch = "linux-shared"
src_sfx = ".py"
disable_security
style_checker_cmd = "/home/ejudge/bin/stylecheck_python"

[problem]
abstract
short_name = "Generic"
use_stdin
input_file = "%lPs.in"
use_stdout
output_file = "%lPs.out"
test_dir = "%Ps"
test_pat = "%02d"
use_corr
corr_dir = "%Ps"
corr_pat = "%02d.a"
time_limit = 1
real_time_limit = 10
checker_real_time_limit = 10
max_vm_size = 256M
max_stack_size = 256M
max_file_size = 256M
check_cmd = "check"
checker_env = "PYTHONIOENCODING=utf_8"
ignore_prev_ac
hide_real_time_limit

[problem]
id = 1
super = "Generic"
short_name = "1"
long_name = "Schloß Hohenschwangau"
internal_name = "kek"
extid = "polygon:2330"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 64M
max_stack_size = 64M
standard_checker = "cmp_long_long_seq"
solution_cmd = "solve"
enable_testlib_mode

[problem]
id = 2
super = "Generic"
short_name = "2"
long_name = "Château de Najac"
internal_name = "third-buy-discount"
extid = "polygon:2345"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 64M
max_stack_size = 64M
standard_checker = "cmp_double_seq"
checker_env = "EPS=1e-9"
solution_cmd = "discount_fpavetic"
enable_testlib_mode

[problem]
id = 3
super = "Generic"
short_name = "3"
long_name = "Château d\'Anjony"
internal_name = "digital-display"
extid = "polygon:2315"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 256M
max_stack_size = 256M
standard_checker = "cmp_long_long_seq"
solution_cmd = "digital-zuza"
enable_testlib_mode

[problem]
id = 4
super = "Generic"
short_name = "4"
long_name = "Коварный Пршемысл"
internal_name = "dessert-maker"
extid = "polygon:2316"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 256M
max_stack_size = 256M
standard_checker = "cmp_long_long_seq"
solution_cmd = "dessert_tomekk"
enable_testlib_mode

[problem]
id = 5
super = "Generic"
short_name = "5"
long_name = "Burg Hohenzollern"
internal_name = "straight-array"
extid = "polygon:2318"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 256M
max_stack_size = 256M
standard_checker = "cmp_long_long_seq"
solution_cmd = "straight-zuza"
enable_testlib_mode

[problem]
id = 6
super = "Generic"
short_name = "6"
long_name = "Château de Chillon"
internal_name = "word-math"
extid = "polygon:2319"
use_stdin
use_stdout
use_corr
time_limit = 4
max_vm_size = 256M
max_stack_size = 256M
standard_checker = "cmp_long_long_seq"
solution_cmd = "wordmath-zuza"
enable_testlib_mode

[problem]
id = 7
super = "Generic"
short_name = "7"
long_name = "Bodiam Castle"
internal_name = "palindr"
extid = "polygon:2322"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 64M
max_stack_size = 64M
check_cmd = "check"
solution_cmd = "palindr_ft"
enable_testlib_mode

[problem]
id = 8
super = "Generic"
short_name = "8"
long_name = "Castello di Miramare"
internal_name = "string-io"
extid = "polygon:2323"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 64M
max_stack_size = 64M
check_cmd = "check"
solution_cmd = "string_aa"
enable_testlib_mode

[problem]
id = 9
super = "Generic"
short_name = "9"
long_name = "Zámek Orlík"
internal_name = "gentest"
extid = "polygon:2324"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 64M
max_stack_size = 64M
check_cmd = "check"
solution_cmd = "gentest_ft"
enable_testlib_mode

[problem]
id = 10
super = "Generic"
short_name = "10"
long_name = "Löwenburg Kassel"
internal_name = "good-and-bad-postmen"
extid = "polygon:2321"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 256M
max_stack_size = 256M
standard_checker = "cmp_long_long_seq"
solution_cmd = "goodandbad-fpavetic"
enable_testlib_mode

[problem]
id = 11
super = "Generic"
short_name = "11"
long_name = "Ave Maria"
internal_name = "crosses"
extid = "polygon:2325"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 64M
max_stack_size = 64M
check_cmd = "check"
solution_cmd = "crosses_aa"
enable_testlib_mode

[problem]
id = 12
super = "Generic"
short_name = "12"
long_name = "Château de La Bâtiaz"
internal_name = "hamming"
extid = "polygon:2326"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 64M
max_stack_size = 64M
check_cmd = "check"
solution_cmd = "hamming_ft"
enable_testlib_mode

[problem]
id = 13
super = "Generic"
short_name = "13"
long_name = "Warwick Castle"
internal_name = "governor"
extid = "polygon:2327"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 64M
max_stack_size = 64M
check_cmd = "check"
solution_cmd = "governor_vv"
enable_testlib_mode

[problem]
id = 14
super = "Generic"
short_name = "14"
long_name = "Castelul Bran"
internal_name = "theorem"
extid = "polygon:2328"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 64M
max_stack_size = 64M
check_cmd = "check"
solution_cmd = "theorem_am"
enable_testlib_mode

[problem]
id = 15
super = "Generic"
short_name = "15"
long_name = "Zámek Hluboká"
internal_name = "epig"
extid = "polygon:2329"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 64M
max_stack_size = 64M
standard_checker = "cmp_long_long_seq"
solution_cmd = "epig_as"
enable_testlib_mode

[problem]
id = 16
super = "Generic"
short_name = "16"
long_name = "Hrad Búzov"
internal_name = "trenches"
extid = "polygon:2331"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 64M
max_stack_size = 64M
check_cmd = "check"
solution_cmd = "trenches_at"
enable_testlib_mode

[problem]
id = 17
super = "Generic"
short_name = "17"
long_name = "Cetatea Poenari"
internal_name = "lateagain"
extid = "polygon:2333"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 64M
max_stack_size = 64M
check_cmd = "check"
solution_cmd = "lateagain_as"
enable_testlib_mode

[problem]
id = 18
super = "Generic"
short_name = "18"
long_name = "Basilique de Valère"
internal_name = "ineq"
extid = "polygon:2335"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 64M
max_stack_size = 64M
check_cmd = "check"
solution_cmd = "ineq_vu"
enable_testlib_mode

[problem]
id = 19
super = "Generic"
short_name = "19"
long_name = "Burg Eltz"
internal_name = "substring"
extid = "polygon:2336"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 64M
max_stack_size = 64M
check_cmd = "check"
solution_cmd = "substring_as"
enable_testlib_mode

[problem]
id = 20
super = "Generic"
short_name = "20"
long_name = "Castello Scaligero"
internal_name = "hol"
extid = "polygon:2337"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 64M
max_stack_size = 64M
check_cmd = "check"
solution_cmd = "hol_ft"
enable_testlib_mode

[problem]
id = 21
super = "Generic"
short_name = "21"
long_name = "Castelul Peleş"
internal_name = "anti"
extid = "polygon:2338"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 64M
max_stack_size = 64M
check_cmd = "check"
solution_cmd = "anti_mm"
enable_testlib_mode

[problem]
id = 22
super = "Generic"
short_name = "22"
long_name = "О боже, длинная алгебра."
internal_name = "ones"
extid = "polygon:2349"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 64M
max_stack_size = 64M
check_cmd = "check"
solution_cmd = "ones_at"
enable_testlib_mode

[problem]
id = 23
super = "Generic"
short_name = "23"
long_name = "Alnwick Castle"
internal_name = "fractal"
extid = "polygon:2350"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 64M
max_stack_size = 64M
check_cmd = "check"
solution_cmd = "fractal_mb"
enable_testlib_mode

[problem]
id = 24
super = "Generic"
short_name = "24"
long_name = "Окоп"
internal_name = "protect"
extid = "polygon:2341"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 64M
max_stack_size = 64M
check_cmd = "check"
solution_cmd = "protect_as"
enable_testlib_mode

[problem]
id = 25
super = "Generic"
short_name = "25"
long_name = "Castello Sforzesco"
internal_name = "twohoses"
extid = "polygon:2342"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 64M
max_stack_size = 64M
standard_checker = "cmp_yesno"
checker_env = "CASE_INSENSITIVE=1"
solution_cmd = "twohoses_vu"
enable_testlib_mode

[problem]
id = 26
super = "Generic"
short_name = "26"
long_name = "Hohkönigsburg"
internal_name = "rube-goldberg"
extid = "polygon:2334"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 64M
max_stack_size = 64M
standard_checker = "cmp_long_long_seq"
solution_cmd = "solve"
enable_testlib_mode

[problem]
id = 27
super = "Generic"
short_name = "27"
long_name = "Cetatea Devei"
internal_name = "distinct-dice"
extid = "polygon:2344"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 64M
max_stack_size = 64M
standard_checker = "cmp_long_long_seq"
solution_cmd = "dice"
enable_testlib_mode

[problem]
id = 28
super = "Generic"
short_name = "28"
long_name = "Leeds Castle"
internal_name = "divisibility"
extid = "polygon:2346"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 64M
max_stack_size = 64M
standard_checker = "cmp_long_long_seq"
solution_cmd = "divisibility_ahyangyi"
enable_testlib_mode

[problem]
id = 29
super = "Generic"
short_name = "29"
long_name = "Château de Tourbillon"
internal_name = "pending-tasks"
extid = "polygon:2343"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 256M
max_stack_size = 256M
standard_checker = "cmp_long_long_seq"
solution_cmd = "pendingtasks-reiten"
enable_testlib_mode

[problem]
id = 30
super = "Generic"
short_name = "30"
long_name = "Castell Rhaglan"
internal_name = "warehouse-job"
extid = "polygon:2347"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 64M
max_stack_size = 64M
standard_checker = "cmp_long_long_seq"
solution_cmd = "warehouse_sluga"
enable_testlib_mode

[problem]
id = 31
super = "Generic"
short_name = "31"
long_name = "Castello del Valentino"
internal_name = "highway"
extid = "polygon:2314"
use_stdin
use_stdout
use_corr
time_limit = 1
max_vm_size = 256M
max_stack_size = 256M
standard_checker = "cmp_double_seq"
checker_env = "EPS=1e-9"
solution_cmd = "tc"
enable_testlib_mode

[problem]
id = 32
super = "Generic"
short_name = "32"
long_name = "Машинопись"
internal_name = "keyboard"
extid = "polygon:2348"
use_stdin
use_stdout
use_corr
time_limit = 2
max_vm_size = 64M
max_stack_size = 64M
check_cmd = "check"
solution_cmd = "keyboard_at"
enable_testlib_mode

[tester]
name = Generic
arch = ""
abstract
no_core_dump
enable_memory_limit_error
kill_signal = KILL
memory_limit_type = "default"
secure_exec_type = "static"
clear_env
start_env = "PATH=/usr/local/bin:/usr/bin:/bin"
start_env = "HOME"
check_dir = "/var/run/ejudge/work-disk/work"

[tester]
name = Linux-shared
arch = "linux-shared"
abstract
no_core_dump
enable_memory_limit_error
kill_signal = KILL
memory_limit_type = "default"
secure_exec_type = "dll"
clear_env
start_env = "PATH=/usr/local/bin:/usr/bin:/bin"
start_env = "HOME"
start_env = "PYTHONHOME=/usr"
check_dir = "/var/run/ejudge/work-disk/work"

[tester]
name = Linux-shared-32
arch = "linux-shared-32"
abstract
no_core_dump
enable_memory_limit_error
kill_signal = KILL
memory_limit_type = "default"
secure_exec_type = "dll32"
clear_env
start_env = "PATH=/usr/local/bin:/usr/bin:/bin"
start_env = "HOME"
check_dir = "/var/run/ejudge/work-disk/work"

[tester]
name = Linux-java
arch = "java"
abstract
no_core_dump
kill_signal = TERM
memory_limit_type = "java"
secure_exec_type = "java"
start_cmd = "runjava"
start_env = "LANG=C"
start_env = "EJUDGE_PREFIX_DIR"
check_dir = "/var/run/ejudge/work-disk/work"

[tester]
name = Linux-msil
arch = "msil"
abstract
no_core_dump
kill_signal = TERM
start_cmd = "runmono"
start_env = "LANG=C"
start_env = "EJUDGE_PREFIX_DIR"
check_dir = "/var/run/ejudge/work-disk/work"

[tester]
any
super = Generic

[tester]
any
super = Linux-shared
arch = linux-shared

[tester]
any
super = Linux-shared-32
arch = linux-shared-32

[tester]
any
super = Linux-java
arch = java

[tester]
any
super = Linux-msil
arch = msil

# audit: created 2017/12/30 21:49:08 3477 (sergey.melnikov) 10.5.90.218
# audit: edited 2017/12/31 04:01:45 15712 (komarov) 10.5.100.225
