{% load static %}
{% load helpers %}

{% if user.is_authenticated %}
    <div class="table__header">
        <div class="table__header__team">
            {% if contest and not request.user.is_authenticated %}
                {{ contest.name }}
            {% else %}
                {{ user.first_name|get_team_name }} {{ user.last_name|get_team_name }}
            {% endif %}
        </div>
        <div class="table__header__right">
            {% if contest_started %}
                <a href="{% url 'table:index' %}">Главная</a>
                <a href="{% url 'table:rules' %}">Правила</a>
                <a href="{% url 'table:monitor' %}">Монитор</a>
            {% endif %}

            {% for resource in resources %}
                {% with resource_count=inventory|get_item:resource.id %}
                    <div class="table__header__weapon color-{{ resource.color }}" title="У вас {{ resource_count }} {{ resource|select_resource_name:resource_count }}">
                        {% with resource_id=resource.id|stringformat:'s' %}
                            {% with resource_path='images/weapons/'|add:resource_id|add:'@2x.png' %}
                                <img src="{% static resource_path %}">
                            {% endwith %}
                        {% endwith %}
                        <span><span class="times">x</span>{{ resource_count }}</span>
                    </div>
                {% endwith %}
            {% endfor %}

            <div class="table__header__score" title="У вас {{ score }} монет">
                <img src="{% static 'images/coin.png' %}">
                {{ score }}
            </div>
        </div>
    </div>
{% endif %}