{% load static %}
{% load helpers %}

<div class="rules">
    <h1>Привет!</h1>

    {% if contest %}
        <h3>Это {{ contest.name|lowerfirst }}.</h3>
    {% endif %}

    <p>Сегодня вам предстоит помочь русам победить ящеров.</p>

    <p>
        Перед вами будет множество боев, каждый из которых стоит выиграть.
        Для того чтобы выиграть бой вам нужно набраться снаряжения и проявить верх своих мыслительных способностей - решить задачу.
        Как только сверху почувствую что вы готовы к бою - вы сможете начать к нему готовиться и приступать.
        В конце боя вы получаете от ящеров какое то количество их снаряжения чтобы продолжать наступлене и баллы.
    </p>
    <p>
        Вся Русь-матушка разбита на несколько регионов. Захватив весь регион вы получите пять дополнительных баллов.
        Побеждает в олимпиаде тот кто получит наибольшее количество баллов.
    </p>
    <p class="images">
        <img src="{% static 'images/rules/1.png' %}">
        <img src="{% static 'images/rules/2.png' %}">
    </p>
    <p>
        <a href="https://ejudge.lksh.ru/cgi-bin/new-client?contest_id=45999&locale_id=1" target="_hover">Ссылка на&nbsp;контест в&nbsp;еджадже</a>.
    </p>
    {% if update_page_after_start %}
        <p>
            <b>Обновите эту страницу после начала соревнования</b>.
        </p>
    {% endif %}
</div>