{% load static %}
{% load helpers %}

<div class="rules">
    <h1>Привет!</h1>

    {% if contest %}
        <h3>Это {{ contest.name|lowerfirst }}.</h3>
    {% endif %}

    <p>
    Ящеры снова атакуют! На этот раз они решили напасть прямо перед Новым Годом, когда древние русы слишком заняты готовкой салатиков и не могут защищать свои земли. Когда вы уже решили, что всё кончено, к вам на помощь пришел сам Дедушка Мороз! С этим неожиданным подкреплением, может быть, есть надежда отбить атаку?
    </p>
    <p>
    Впереди вас ждет множество битв. Для того, чтобы выиграть бой, вам нужно собрать снаряжение и проявить свои мыслительные способности на максимум - решить задачу. Когда Дедушка Мороз решит, что вы готовы к бою, вы сможете его начать. После боя вы получите трофейное снаряжение от ящеров и баллы.
    </p>
    <p>
    <!-- Вся территория разбита на неколько регионов. Защитив весь регион, вы получите пять дополнительных баллов.  -->
    В олимпиаде победит тот, кто получит наибольшее количество баллов.
    </p>
    <p class="images">
        <img src="{% static 'images/rules/example1.jpg' %}">
        <img src="{% static 'images/rules/example2.jpg' %}">
    </p>
    <p>
        <a href="https://ejudge.lksh.ru/cgi-bin/new-client?contest_id=45999&locale_id=1" target="_hover">Ссылка на&nbsp;контест в&nbsp;еджадже</a>.
    </p>
    {% if update_page_after_start %}
        <p>
            <b>Обновите эту страницу после начала соревнования</b>.
        </p>
    {% endif %}
</div>