{% extends 'layout.html' %}

{% load static %}
{% load helpers %}

{% block content %}

    <div class="table">
        {% include 'table/_header.html' %}

        {% if contest_started %}
            <div class="cards_wrapper">
                {% for card_statuses in card_statuses_by_level %}
                    {% for card_status in card_statuses %}
                        {% with card_id=card_status.card.photo|stringformat:'s' %}
                            {% with card_path='images/castles/'|add:card_id|add:'.jpg' %}
                                <div class="card {% if card_status.problem_status.state == ProblemState.SOLVED %}passed{% elif card_status.available %}available{% else %}not-available{% endif %}" style="background-image: url('{% static card_path %}');">
                            {% endwith %}
                        {% endwith %}
                        <div class="card__header">
                            <div class="card__header__flag" title="Этот замок находится в {{ card_status.card.country.name_gen }}">
                                {% with country_id=card_status.card.country.id|stringformat:'s' %}
                                    {% with country_path='images/flags/'|add:country_id|add:'@2x.png' %}
                                        <img src="{% static country_path %}">
                                    {% endwith %}
                                {% endwith %}
                            </div>
                            <div class="card__header__weapons" title="Захватив этот замок вы получите {{ card_status.card.get_gives_description }}">
                                {% for cr in card_status.card.get_gives %}
                                    {% for i in cr.count|times %}
                                        {% with resource_id=cr.resource.id|stringformat:'s' %}
                                            {% with resource_path='images/weapons/'|add:resource_id|add:'@2x.png' %}
                                                <img src="{% static resource_path %}">
                                            {% endwith %}
                                        {% endwith %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                            <div class="card__header__score" title="Захватив этот замок {% if card_status.card.score == 0 %}вы не получите монет{% elif card_status.card.score == 1 %}вы получите +1 монету{% else %}вы получите +{{ card_status.card.score }} монет{% if card_status.card.score >= 2 and card_status.card.score <= 4 %}ы{% endif %}{% endif %}
                                ">
                                +{{ card_status.card.score }}
                            </div>
                        </div>
                        {% if card_status.problem_status.state == ProblemState.SOLVED %}
                            <div class="card__captured-icon" title="Вы захватили этот замок!">
                                <img src="{% static 'images/captured.png' %}">
                            </div>
                        {% elif card_status.available %}
                            <div class="card__open-button">
                                <span>
                                    <a href="{% url 'table:statement' problem_id=card_status.card.ejudge_short_name %}" target="_hover">Захватить</a>
                                </span>
                            </div>
                        {% else %}
                            <div class="card__open-info" title="Для подхода к этому замку надо иметь {{ card_status.card.get_needs_description }}">
                                Для открытия нужно иметь:
                                {% for cr in card_status.card.get_needs %}
                                    <div class="card__open-info__weapons">
                                        {% for i in cr.count|times %}
                                            {% with resource_id=cr.resource.id|stringformat:'s' %}
                                                {% with resource_path='images/weapons/'|add:resource_id|add:'.png' %}
                                                    <img src="{% static resource_path %}">
                                                {% endwith %}
                                            {% endwith %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="card__footer">
                            <span>
                                {{ card_status.card.ejudge_short_name }}. {{ card_status.card.name }}
                            </span>
                        </div>
                        </div> <!-- .card -->
                    {% endfor %}
                    <br/>
                {% endfor %}
            </div> <!-- .cards_wrapper -->
        {% else %} <!-- contest_started -->
            <div class="rules">
                <h1>Привет!</h1>

                <p>Сегодня вам предстоит захватывать зáмки и зарабатывать на этом деньги.</p>

                <p>
                    В вашем снаряжении юных захватчиков есть пушки, катапульты, мечи и ружья.
                    Для того, чтобы подойти к некоторым замкам, нужно иметь при себе определённое снаряжение.
                    Например, для <b>Castello di Miramare</b> из&nbsp;примера ниже необходимо собрать две пушки, а для
                    <b>Castello Scaligero</b> — три пушки, пять мечей и четыре ружья. Изначально у вас нет никакого
                    снаряжения. Но не&nbsp;расстраивайтесь — вы получите его, захватим наименее защищённые замки.
                    После захвата замка вы получаете снаряжение замка в свой арсенал навсегда. Снаряжение замка
                    указано сверху его карточки.
                </p>
                <p class="images">
                    <img src="{% static 'images/rules/1.png' %}">
                    <img src="{% static 'images/rules/2.png' %}">
                </p>
                <p>
                    Что ещё важно знать? В правом верхнем углу указано количество монет,
                    которые вы получите после захвата замка. Выигрывает тот, кто соберёт
                    больше всех монет. При равенстве выше будет тот, кто захватил последний замок раньше.
                </p>
                <p>
                    Кроме того, у нас есть для вас бонус!
                    Захватите все замки в одной стране и получите 5&nbsp;дополнительных монет.
                </p>
                <p>
                    Вроде, всё.
                </p>
                <p>
                    P.S. Ах, ну да, задачи... Совсем забыли. Чтобы захватить замок, нужно будет решить задачу и сдать её
                    в еджадж. Номер задачи в&nbsp;еджадже указан перед названием замка и в начале условия.
                </p>
                <p>
                    <a href="https://ejudge.lksh.ru/cgi-bin/new-client?contest_id=31001&locale_id=1" target="_hover">Ссылка на&nbsp;контест в&nbsp;еджадже</a>.
                </p>
                <p>
                    <b>Обновите эту страницу после начала соревнования</b>.
                </p>
            </div>
        {% endif %}
    </div> <!-- .table -->
{% endblock %}
