{% extends 'layout.html' %}

{% load static %}

{% block body_content_class %}with_sidebar{% endblock %}

{% block content %}
Hello {{user}},
<a href="{% url 'users:logout' %}">Выход</a>
<br/>
Inventory: {{ inventory }}<br/>
Score: {{ score }}<br/>
Countries: <ul>
{% for country_status in country_statuses.values %}
<li>{{country_status.country.name}}: {{country_status.solved}} of {{country_status.total}}; bonus: {{country_status.country.bonus}} </li>
{% endfor %}
</ul>
<table border="1">
  {% for card_statuses in card_statuses_by_level %}
  <tr>
    {% for card_status in card_statuses %}
    <td>
      Задача {{card_status.card.name}} ({{card_status.card.ejudge_short_name}})<br/>
      country: {{card_status.card.country.name}}<br/>
      needs: {{card_status.needs_str}}<br/>
      gives: {{card_status.gives_str}}<br/>
      score: {{card_status.card.score}}<br/>
      status: {{card_status.problem_status.state}} at {{card_status.problem_status.time}}<br/>
      available: {{card_status.available}}<br/>
      <a href="/statement/{{card_status.card.ejudge_short_name}}">statement</a>
    </td>    
    {% endfor %}
  </tr>
  {% endfor %}
</table>
<br/><br/>
Debug: {{ debug }}<br/>
{% endblock %}
