html, body {
	font-family: 'Myriad Pro', 'Arial', sans-serif;
}

.color-blue { color: #4788C7; }
.color-red { color: #C64747; }
.color-green { color: #73C647; }
.color-yellow { color: #C6C647; }

.login-form {
    padding: 30px 50px;
    width: 400px;
    margin: 100px auto 400px;
    border-radius: 19px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 3px 3px 2px rgba(66, 66, 66, 0.5);
}

@media (max-width: 500px) {
    .login-form {
        width: 70%;
    }
}

.login-form h1 {
    margin-bottom: 20px;
    color: black;
}

input[type="text"],
input[type="password"] {
    padding: 7px 5px;
}

.login-form button {
    padding: 10px 20px;
    background-color: #212121;
    color: white;
    border: 0;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 16px;
}

.login-form button:hover {
    background-color: #313131;
}

.login-form .errorlist {
    list-style: none;
    color: #890C0C;
    padding-left: 0;
}

.rules {
    padding: 30px 50px;
    width: 700px;
    margin: 100px auto;
    border-radius: 19px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 3px 3px 2px rgba(66, 66, 66, 0.5);
}

.rules .images {
    text-align: center;
}