body {
	width: 100%;
	height: 100%;
}

.table {
	background: url('../images/table.jpg') repeat-y center center fixed;
	background-size: cover;	
	height: 100%;
	padding: 20px;
}

.cards_wrapper {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.card {
	border-radius: 19px;
	background-color: white;
	display: inline-block;
	width: 150px;
	height: 222px;
	position: relative;
	box-shadow: 3px 3px 2px rgba(66, 66, 66, 0.5);
	margin-right: 15px;
	margin-bottom: 20px;
	vertical-align: top;

	/*background: url('../images/castles/1.jpg') no-repeat left top 75%*/
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
}

.card .card__header,
.card .card__footer {	
	background-color: rgba(255, 255, 255, 0.8);
}

.card.passed .card__header,
.card.passed .card__footer {
	background-color: rgba(220, 255, 220, 0.8);
}

/* Card header */
.card .card__header {
	position: relative;
	padding: 10px 12px;
	height: 20px;
	border-top-left-radius: 19px;
	border-top-right-radius: 19px;
    text-align: left;
}

.card .card__header > * {
	display: inline-block;
	vertical-align: top;
}

.card .card__header .card__header__flag img {
    width: auto;
    height: 22px;
    margin-right: 2px;
	margin-left: -4px;
}

.card .card__header .card__header__score {
	position: absolute;
	right: 0;
	margin-right: 12px;
    font-family: "Bahnschrift", sans-serif;
	font-size: 20px;
}

.card .card__header .card__header__weapons img {
    height: 22px;
    width: auto;
}

.card:not(.passed) .card__header .card__header__score {
	color: #890C0C;
}

.card.passed .card__header .card__header__score {
	color: #19870E;
}


/* Card footer */
.card .card__footer {
	position: absolute;
	bottom: 0;
	font-size: 14px;
	padding: 5px 12px;	
	line-height: 14px;
	height: 30px;
	width: 126px;
	border-bottom-left-radius: 19px;
	border-bottom-right-radius: 19px;

	display: table;
}

.card .card__footer > span {
	/* Hack for vertical alignment */
	display: table-cell; 
	text-align: center;
	vertical-align: middle
}

/* Card's open button */
.card .card__open-button {
	text-align: center;
	margin-top: 60px;
	cursor: pointer;
}

.card .card__open-button span {
	padding: 4px 17px;
    border: 1px solid #1D380E;
    font-size: 14px;
    background-color: white;
}

.card .card__open-button span a {
	text-decoration: none;
	color: #18330A;
}

/* Card's open info */
.card .card__open-info {	
	height: 107px;
	padding: 15px 16px 20px;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	font-size: 14px;
	line-height: 14px;
}

.card .card__open-info .card__open-info__weapons:first-child {
	margin-top: 10px;
}

/* Card's captured icon */
.card .card__captured-icon {
	text-align: center;
	padding-top: 20px;
	height: 123px;
	width: 140px;
	padding-left: 10px;
	background-color: rgba(220, 255, 220, 0.8);
}

.card .card__captured-icon img {
	width: 100px;
	height: auto;
}

/* Table header */
.table__header {
	background-color: black;
	box-shadow: 0 3px 4px rgba(66, 66, 66, 0.5);
    margin: -20px -20px 20px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.table__header .table__header__team {
	color: white;
	font-size: 22px;
	display: inline-block;
	margin: 10px 20px 12px;
	margin-right: 300px;
}

@media (max-width: 720px) {
	.table__header .table__header__team {
		font-size: 14px;
	}
}

.table__header .table__header__right {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}

.table__header .table__header__weapon {
	display: inline-block;
	margin-right: 10px;
	margin-top: 10px;
}

.table__header .table__header__weapon img {
    height: 20px;
    width: auto;
}

.table__header .table__header__weapon span {
	font-size: 20px;
	vertical-align: top;
}

.table__header .table__header__weapon > span {
	margin-left: -3px;
}

.table__header .table__header__weapon .times {
	font-size: 16px;
	position: relative;
	top: 2px;
}

.table__header .table__header__score {
	display: inline-block;
	font-size: 20px;	
	vertical-align: top;
	color: white;
	margin-right: 20px;
	margin-top: 10px;
	margin-left: 10px;	
}

.table__header .table__header__score img {
	width: 20px;
	height: auto;
	vertical-align: middle
}